appdirs==1.4.3
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11
django-braces==1.11.0
django-cleanup==1.0.1
django-filter==1.0.4
djangorestframework==3.6.2
djangorestframework-queryfields==1.0.0
idna==2.6
Markdown==2.6.6
oauthlib==2.0.1
olefile==0.44
osa==0.2
packaging==16.8
Pillow==4.1.1
psycopg2==2.7.1
pyparsing==2.2.0
pytz==2017.2
requests==2.18.4
six==1.10.0
urllib3==1.22
